<!DOCTYPE html>
<html lang="ru" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="#" th:action="@{/}" th:object="${index}",th method="post">
    <div class="form-group blu-margin">
        <select class="form-control" id="addUser1"  th:field="*{idFrom}">
            <option value="0">Выберите Валюту</option>
            <option th:each="person1 : ${list}" th:value="${person1.numCode}" th:text="${person1.name}"></option>
        </select>
        <p>Кол-во: <input type="text" th:field="*{value}" /></p>
        <select class="form-control" id="addUser2"  th:field="*{idTo}">
            <option value="0">Выберите Валюту</option>
            <option th:each="person2 : ${list}" th:value="${person2.numCode}" th:text="${person2.name}"></option>
        </select>
        <p><input type="submit" value="Конвертировать" /> </p>
    </div>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из аакаунта"/>
</form>
<h2>ИСТОРИЯ ЗАПРОСОВ</h2>
<table border="1">
    <tr>
        <th>Начальная валюта</th>
        <th>получаемая валюта</th>
        <th>исходная сумма</th>
        <th>результат</th>
        <th>дата запроса</th>
    </tr>
    <tr th:each = "valute: ${history}">
        <td th:text="${valute.nameFrom}"></td>
        <td th:text="${valute.nameTo}"></td>
        <td th:text="${valute.valueFrom}"></td>
        <td th:text="${valute.valueTo}"></td>
        <td th:text="${valute.date}"></td>
    </tr>
</table>
</body>
</html>